{{> nav}}
<div class="article-clean">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                <div class="intro">
                    <h1 class="text-center">{{title.rendered}}</h1>
                    <p class="text-center"> <span class="date">{{date}}</span></p>
                    <img class="img-fluid" src="assets/img/desk.jpg">
                </div>
                <div class="text">
                    {{{content.rendered}}}
                </div>
            </div>
        </div>
    </div>
</div>
{{> post-pagination}}
{{> footer}}
